<mat-toolbar>
    <mat-toolbar-row class="toolbar-row">
        <span>Call Records</span>
        <span class="spacer"></span>
        <small>
            <mat-form-field appearance="standard">
                <mat-label>Filter</mat-label>
                <input matInput placeholder="Cli , AgentId, PhoneId etc." (keyup)="applyFilter($event.target.value)">
                <mat-icon matSuffix>search</mat-icon>
            </mat-form-field>
        </small>
    </mat-toolbar-row>
</mat-toolbar>

<div>
    <table mat-table class="full-width-table" matSort [dataSource]="dataSource">

        <ng-container matColumnDef="originNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>CLI</th>
            <td mat-cell *matCellDef="let row" style="cursor: pointer;" [cdkCopyToClipboard]="GetCli(row.originNumber)">
                <span matTooltip="Click to Copy Cli" matTooltipPosition="right"> {{GetCli(row.originNumber)}} </span>
            </td>
        </ng-container>

        <ng-container matColumnDef="dialledNumber">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>DNI</th>
            <td mat-cell *matCellDef="let row">{{row.dialledNumber}}</td>
        </ng-container>

        <ng-container matColumnDef="agentId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Agent Id</th>
            <td mat-cell *matCellDef="let row">{{row.agentId}}</td>
        </ng-container>

        <ng-container matColumnDef="phoneId">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Phone Id</th>
            <td mat-cell *matCellDef="let row">{{row.phoneId}}</td>
        </ng-container>

        <ng-container matColumnDef="startTimestamp">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Start Time</th>
            <td mat-cell *matCellDef="let row">{{row.startTimestamp | date :'medium'}}</td>
        </ng-container>

        <ng-container matColumnDef="totalTime">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Total Time</th>
            <td mat-cell *matCellDef="let row">{{GetDuration(row.totalTime)}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator #paginator [length]="dataSource?.data.length" [pageIndex]="0" [pageSize]="10"
        [pageSizeOptions]="[10, 25, 50, 100, 250]">
    </mat-paginator>
</div>