<div class="col-sm-3">
  <div class="card border-secondary">
    <div class="card-header bg-secondary text-white">CRM's
      <i class="material-icons pull-right" style="font-size:28px;">list</i>
    </div>
    <div class="card-body">
      <div class="col-md-4 pl-5 text-center" *ngIf="nodata">
        <img style="height: 206px;" src="assets/nodata.png" alt="Xema">
      </div>
      <div class="clearfix">
        <mat-chip-list class="mat-chip-list-stacked" *ngFor="let crm of crms">
          <a href="{{crm.url}}" target="_blank">
            <mat-chip selected>
              {{crm.name}}
            </mat-chip>
          </a>
        </mat-chip-list>
      </div>
    </div>
  </div>
</div>
