<div class="col-sm-3">
  <div class="card border-danger">
    <div class="card-header bg-danger text-white">Live Call Info
      <i class="material-icons pull-right" style="font-size:28px;">hourglass_empty</i>
    </div>
    <div class="card-body">
      <div class="clearfix">
        <p class="card-text float-left text-secondary"> Queue :</p>
        <p class="text-right float-right"> {{task?.call.queue}} </p>
      </div>

      <div class="clearfix">
        <p class="card-text float-left text-secondary"> Cli :</p>
        <p class="text-right float-right"> {{task?.call.attributes.destconnectedlinenum}} </p>
      </div>
      <div class="clearfix">
        <p class="card-text float-left text-secondary">Call Number :</p>
        <p class="text-right float-right">{{task?.call.attributes.linkedid}} </p>
      </div>


      <div class="clearfix">
        <p class="card-text float-left text-secondary"> Start Time :</p>
        <p class="text-right float-right"> {{task?.call.dateReceived | date :'mediumTime'}} </p>
      </div>

      <div class="clearfix">
        <p class="card-text float-left text-secondary">AHT Target :</p>
        <p class="text-right float-right"><span>{{GetDuration(ahtTarget)}}</span>
        </p>
      </div>
      <div class="clearfix">
        <div class="progress">
          <div class="progress-bar {{color}}" role="progressbar" aria-valuenow="currentprogress" aria-valuemin="0"
            aria-valuemax="100" [style.width.%]="completed">
            <span style="font-size: 15px;"> {{GetDuration(currentprogress)}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
