<!-- <div style="width:800px;">
  <p class="text-info display-5">Dispositions </p>
  <hr>
  <div mat-dialog-content class="text-center">
    <form class="example-form" autocomplete="off">

      <div class="row">
        <div style="display:none">
          <mat-form-field>
            <input matInput [formControl]="callid" [ngModel]="Task.call.uniqueId">
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width w-75 ">
            <mat-label>Select Disposition</mat-label>
            <mat-select [formControl]="disposition" [errorStateMatcher]="matcher">
              <mat-option>Select Disposition</mat-option>
              <mat-option *ngFor="let dis of Task?.queue.actions" [value]="dis.type">
                {{dis.type}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="disposition.hasError('required')">
              Disposition is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="disposition.hasError('required') && !disposition.hasError('required')">
              Please choose Disposition
            </mat-error>
          </mat-form-field>
        </div>

        <div class="col-md-6">
          <mat-form-field class="example-full-width w-75">
            <mat-label>Select Department</mat-label>
            <mat-select [formControl]="department" (ngModelChange)="onChangeDept($event)" [errorStateMatcher]="matcher">
              <mat-option>Select Department</mat-option>
              <mat-option *ngFor="let dpt of Task?.queue.departments" [value]="{Value: dpt.id , Name: dpt.name}">
                {{dpt.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="department.hasError('required')">
              Department is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="department.hasError('required') && !department.hasError('required')">
              Please choose Department
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">

          <mat-form-field class="example-full-width w-75">
            <mat-label>Select Hod</mat-label>
            <mat-select [formControl]="hod" (ngModelChange)="onChangeHod($event)" [errorStateMatcher]="matcher">
              <mat-option>Select Hod</mat-option>
              <mat-option *ngFor="let hod of hods" [value]="{Value: hod.id , Name: hod.name}">
                {{hod.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="hod.hasError('required')">
              Hod is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="hod.hasError('required') && !hod.hasError('required')">
              Please choose Hod
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">

          <mat-form-field class="example-full-width w-75">
            <mat-label>Select Subject</mat-label>
            <mat-select [formControl]="subject" (ngModelChange)="onChangeSubject($event)" [errorStateMatcher]="matcher">
              <mat-option>Select Subject</mat-option>
              <mat-option *ngFor="let sub of subjects" [value]="{Value: sub.id , Name: sub.name}">
                {{sub.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="subject.hasError('required')">
              Subject is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="subject.hasError('required') && !subject.hasError('required')">
              Please choose Subject
            </mat-error>
          </mat-form-field>
        </div>
        <div class="w-100"></div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width w-75">
            <mat-label>Select SubSubject</mat-label>
            <mat-select [formControl]="subsubject" [errorStateMatcher]="matcher">
              <mat-option>Select SubSubject</mat-option>
              <mat-option *ngFor="let subsub of subsubjects" [value]="{Value: subsub.id , Name: subsub.name}">
                {{subsub.name}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="subsubject.hasError('required')">
              SubSubject is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="subsubject.hasError('required') && !subsubject.hasError('required')">
              Please choose SubSubject
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-6">
          <mat-form-field class="example-full-width w-75">
            <textarea matInput placeholder="Remarks" [formControl]="remarks" [errorStateMatcher]="matcher">
      </textarea>
            <mat-error *ngIf="remarks.hasError('remarks') && !remarks.hasError('required')">
              Please enter remarks
            </mat-error>
            <mat-error *ngIf="remarks.hasError('required')">
              Remarks <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <br>
          <button mat-raised-button color="primary" (click)="Submit()">Submit</button>&nbsp;
          <button mat-stroked-button [mat-dialog-close]="" color="primary">Dismiss</button>
        </div>
        <br><br>
      </div>
      <br><br>
    </form>
  </div>
</div> -->