<div fxLayout="row" fxLayoutAlign="end center">

  <span fxFlex></span>
  <button fxFlex *ngIf="breakState.bsCode === 0" mat-flat-button color="warn" (click)="askBreak()">
    Break
  </button>
  <button fxFlex *ngIf="breakState.bsCode === 1" mat-flat-button color="warn" (click)="cancelBreak()">
    Cancel Break
  </button>
  <button fxFlex *ngIf="breakState.bsCode === 2" mat-flat-button color="accent" (click)="exitBreak()">
    Resume
  </button>

  <div fxFlex="32px"></div>

  <div fxFlex="45px">
    <button mat-icon-button [matMenuTriggerFor]="beforeMenu">
      <img mat-card-avatar src="../../assets/female-agent1.jpg" alt="" height="36px">
    </button>
    <mat-menu #beforeMenu="matMenu" xPosition="before">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item (click)="logoff()">Logout</button>
    </mat-menu>
  </div>

</div>
