.user_info mat-icon {
    /* font-size: 32px; */
    position: relative;
    top: 8px;
    color: #17a2b8;
}

.card-header {
    background-color: #fff !important
}

.card-body span {
    font-size: 16px;
    font-weight: normal;
    /* color: #455a64; */
    white-space: normal !important;
}

.chatbox{
    max-height: 270px;
    overflow: auto;
}
