<div *ngIf="taskAssigned" fxLayout="row" fxLayoutAlign="start center" fxFlex="50" fxLayoutGap="5px">
  <!-- Add New call -->
  <span *ngIf="task?.queue.baseQueueOptions.allowNewCall && isNewCall">
    <button mat-raised-button color="accent" type="button" (click)="call1()">New Call</button>
  </span>

  <!-- Conference Option -->
  <span *ngIf="task?.queue.baseQueueOptions.allowConference && parked === 'Parked' && isMerge">
    <button mat-raised-button color="link" style="background-color: #ffc107;" (click)="conference()">
      Merge
      <mat-icon matSuffix>call_merge</mat-icon>
    </button>
  </span>

  <!-- Call Back Option -->
  <span *ngIf="!callerOnline && task?.queue.baseQueueOptions.allowCallback  && isCallBack">
    <button mat-raised-button color="accent" (click)="callBack()">Call Back</button>
  </span>

  <!-- End Call Option -->
  <span *ngIf="task?.queue.baseQueueOptions.allowEndCall && isEndCall">
    <button mat-raised-button color="warn" (click)="endCall()">End Call</button>
  </span>

  <!-- Dispose Call -->
  <span *ngIf="!callerOnline && parked !== 'Parked' && isDispose">
    <button [ngStyle]="{'pointer-events': disable ? 'none': ''}" mat-raised-button color="warn"
      (click)="dispose()">Dispose</button>
  </span>
</div>