<div class="col-sm-3">
  <div class="card border-info">
    <div class="card-header bg-info text-white">Your Info
      <i class="material-icons pull-right" style="font-size:28px;">perm_identity</i>
    </div>
    <div class="card-body">
      <div class="clearfix">
        <p class="card-text float-left text-secondary"> Name:</p>
        <p class="text-right float-right"> {{info?.agentInfo.agentName}}</p>
      </div>
      <div class="clearfix">
        <p class="card-text float-left text-secondary">User Id:</p>
        <p class="text-right float-right"> {{info?.agentInfo.userId}}</p>
      </div>
      <div class="clearfix">
        <p class="card-text float-left text-secondary"> First LogIn: </p>
        <p class="text-right float-right">{{info?.agentInfo.firstLogin | date :'mediumTime'}}</p>
      </div>
    </div>
  </div>
</div>
