<div class="gutter">

  <div fxLayout="column" fxLayoutAlign="start stretch">
    <div fxFlex>
      <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutAlign="start stretch">

        <app-agent-info-card class="gutter" *ngIf="!task" fxFlex="300px"></app-agent-info-card>
        <app-task-info-card class="gutter" *ngIf="task" fxFlex="325px"></app-task-info-card>
        <app-variables-card class="gutter" *ngIf="task" fxFlex="400px"></app-variables-card>
        <app-crms-list-card class="gutter" *ngIf="task" fxFlex="150px"></app-crms-list-card>

      </div>
    </div>

    <div fxFlex *ngIf="task">
      <app-task-crm-view></app-task-crm-view>
    </div>

    <div fxFlex *ngIf="teamLead">
      <xe-queue-monitor-panel [serverConnection]="bus"></xe-queue-monitor-panel>
      <xe-queue-monitor-table-panel [serverConnection]="bus"></xe-queue-monitor-table-panel>
      <xe-team-monitor-table-panel [serverConnection]="bus" [teamLead]="teamLead"></xe-team-monitor-table-panel>
    </div>

    <div fxFlex="1 1 500px"></div>
  </div>

</div>
