<div style="margin-left: 16px; margin-top: 16px;">
  <div fxLayout="row wrap" fxLayout.xs="column" fxFlexFill fxLayoutAlign="start stretch" fxLayoutGap="16px grid">

    <app-agent-info *ngIf="!task" fxFlex="1 0 250px"></app-agent-info>
    <app-task-info *ngIf="task" fxFlex="1 0 250px"></app-task-info>

    <app-agent-status fxFlex="1 0 250px"></app-agent-status>

  </div>

</div>


<div class="row mt-5">
  <!-- Space for Top Bar -->
</div>

<!-- <div class="row">
  <app-agent-info *ngIf="!task"></app-agent-info>
</div> -->


<div *ngIf="teamLead">

  <!-- <xe-queue-monitor-panel [serverConnection]="serverConnection"></xe-queue-monitor-panel> -->

  <!-- <xe-team-monitor-panel [serverConnection]="serverConnection"></xe-team-monitor-panel> -->

</div>
