/* You can add global styles to this file, and also import other style files */

@import "./../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import './assets/material-icon-fonts/material-icons.css';
/* custom css */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
  flex: 1 1 auto;
}

.green-progress-bar {
  .mat-progress-bar-fill::after {
    background-color: green;
  }
}

.red-progress-bar {
  .mat-progress-bar-fill::after {
    background-color: red;
  }
}

th.truncated200px, td.truncated200px {
  overflow: hidden;
  width:auto;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 160px;
}
