<i *ngFor="let call of ongoingCallsList">
  <button *ngIf="call.cli !== unknown" mat-flat-button (click)="park(call)">
    <span>Hold &nbsp; {{getCli(call.cli)}}</span>
  </button>
</i>
<span fxFlex="5px"></span>
<i *ngFor="let call of parkedChannelsList">
  <span fxFlex="5px"></span>
  <button mat-flat-button (click)="resume(call)">
    <span>Resume</span> &nbsp; {{getCli(call.cli)}}
  </button>
</i>

<button mat-flat-button *ngIf="conferenceCall.members.length > 0">
  {{conferenceCall?.members?.length}} &nbsp;
  <mat-icon matSuffix>call_split</mat-icon>
</button>
