<ul class="nav flex-column mt-2">
    <li class="nav-item  pb-2">
        <a class="nav-link active" routerLink="/dashboard">
            <mat-icon>dashboard</mat-icon><br>
            <span data-feather="home"></span>
            Dashboard <span class="sr-only">(current)</span>
        </a>

    </li>

    <div class="dropdown-divider w-50 d-block mx-auto"></div>
    <li class="nav-item pt-2">
        <a class="nav-link" routerLink="/dashboard">
            <mat-icon>headset_mic</mat-icon><br>
            <span data-feather="file"></span>
            Phones
        </a>
    </li>

    <div class="dropdown-divider w-50 d-block mx-auto"></div>
</ul>